{% extends 'base.html.twig' %}

{% block title %}Duck{% endblock %}

{% block body %}
    <h1>Duck</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ duck.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ duck.lastname }}</td>
            </tr>
            <tr>
                <th>Duckname</th>
                <td>{{ duck.duckname }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
